.notice-carousel {
  .slick-dots {
    bottom: 15px;
  }

  .slick-dots li {
    margin: 0 !important;
    width: 6px !important;
    height: 6px !important;
  }

  .slick-dots li button {
    width: 0;
    height: 0;
    padding: 0;
  }

  .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .slick-dots li.slick-active button:before {
    color: #fff !important;
    opacity: 1 !important;
  }
}